name: Deploy to VPS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to DockerHub
        run: |
          echo "${{ secrets.DOCKERHUB_ACCESS_PASSWORD }}" | \
          docker login -u "${{ secrets.DOCKERHUB_ACCESS_USERNAME }}" --password-stdin

      - name: Build and push Docker image
        run: |
          docker build -t makwanagautam/prod-backend:latest .
          docker push makwanagautam/prod-backend:latest

      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/apps/prod-backend
            docker compose pull
            docker compose up -d
